* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: #fff;
  display: 100%;
  font-family:sans-serif;
}

.red {
  background: #ff0000;
}

.db {
  display: block!important;
}

.dn {
  display: none !important;
}

.header {
  background: #6F23FF;
  padding: 25px 20px;
  margin-bottom: 10px;
  
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  align-self: center;
}

.navigation_items {
  align-self: center;
}

.ni_ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.ni_ul li {
  margin: 5px;
  list-style: none;

}

.ni_ul li a {
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
}

.ni_ul li a:hover {
  color: #2c2c2c;
}

.apply_btn {
  background: #ffd540;
  padding: 10px !important;
  color: #2c2c2c !important;
  border-radius: 5px;
}

.apply_btn:hover {
  background: #f3db86;
}

.main {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.media_section {
  margin-right: 10px;
  padding: 10px;
  max-width: 70%;
}

.section_title {
  text-align: center;
  color: #6f23ff;
  margin: 0 0 15px 0;
}
.yt_video iframe {
  height: 420px;
}


.v_title {
  color: #6f23ff;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.v_des {
  padding: 10px;
  background: #e6e6e6;
}

.v_des h1 {
  font-size: 1rem;
}

.v_counter {
  text-align: center;
  background: #333;
  color: #fff;
  padding: 10px;
}



.sidebar_section {
  margin-left: 10px;
  padding: 10px;
  max-width: 30%;
}

.aside_aitem {
  margin-bottom: 10px;
  padding: 10px;
  margin-top: -10px;
}

.aside_aitem img {
  width: auto;
  height: 200px;
  max-width: 100%;
}


.footer {
  background: #6f23ff;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

.footer_content {
  display: block;
  padding: 20px;
  min-height: 60px;
}

.cat {
  display: none;
}

.m_ni_ul {
  display: none;
}


@media all and (max-width: 620px) {

  .ni_ul {
    display: none;
  }

  .m_ni_ul {
    display: none;
    border-top: 5px solid #2c2c2c;
    margin: 20px 0 0 0;
    padding: 0;
    transition: ease-in-out;
  }

  .m_ni_ul li {
    list-style: none;
    display: block;
    margin: 0;
    
  }

  .m_ni_ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #2c2c2c;
    font-size: 1.1rem;
  }

  .m_ni_ul li a:hover {
    color: #2c2c2c;
    background: #9663f5;
  }

  .cat {
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #333;
    color: #fff;
    width: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .cat div {
    height: 3px;
    width: 100%;
    background: #fff;
    margin: 3px;
  }


  .main {
    flex-direction: column;
  }

  .media_section {
    max-width: 100%;
    margin-right: 0;
  }

  .sidebar_section {
    max-width: 100%;
    align-self: center;
    margin-left: 0;
  }

  .aside_aitem img {
    width: 400px;
    height: auto;
  }
}
